{% if site.analytics.baidu.siteid %}
<script>
  var _hmt = _hmt || [];
  (function() {
    var hm = document.createElement("script");
    hm.src = "//hm.baidu.com/hm.js?{{ site.analytics.baidu.siteid }}";
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(hm, s);
  })();
</script>
<script type="text/javascript" src="http://js.tongji.linezing.com/3608735/tongji.js"></script><noscript><a href="http://www.linezing.com"><img src="http://img.tongji.linezing.com/3608735/tongji.gif"/></a></noscript>
{% endif %}
